awsec2-jenkins-via-terraform/.terraform/
awsec2-jenkins-via-terraform/.terraform*
awsec2-jenkins-via-terraform/terraform.tfstate
awsec2-jenkins-via-terraform/terraform.tfstate.backup
awsec2-jenkins-via-awscdk/.venv